/* Footer.css */
.footer {
    text-align: center;
    background-color: var(--color-footer-bg);
    color: white;
    padding: 16px 0;
    margin-top: 0;
}

.footer p {
    font-size: 14px;
    margin: 0;
    color: white;
}

.footer p a {
    color: var(--color-primary-light);
}

.footer p a:hover {
    text-decoration: underline;
}