/* index.css */

/* Container Style */
.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--pink-0);
    border: 1px solid var(--pink-100);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Heading Styles */
h1 {
    font-size: 2rem;
    color: var(--pink-800);
    border-bottom: 2px solid var(--pink-800);
    margin-bottom: 16px;
    padding-bottom: 8px;
}

/* Paragraph Text Styles */
p {
    font-size: 1rem;
    color: var(--color-text-primary);
    margin-bottom: 16px;
}

/* Subdomain List Styles */
.domain-subsections {
    list-style-type: none;
    padding: 0;
}

.domain-subsections li {
    margin: 8px 0;
}

.domain-subsections a {
    text-decoration: none;
    color: var(--pink-800);
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s;
}

.domain-subsections a:hover {
    color: var(--pink-800);
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        margin: 10px;
        padding: 16px;
    }

    h1 {
        font-size: 1.8rem;
    }

    p {
        font-size: 0.9rem;
    }
}